{# Inherit from template6-base.html.twig and override block2 #}

<div>
{% embed 'topic5/template6-base.html.twig' %}
    {% block block2 %}
        Modified content of block 2
    {% endblock %}
{% endembed %}

{% embed 'topic5/template6-base.html.twig' %}
    {% block block1 %}
        Modified content of block 1
    {% endblock %}
{% endembed %}
</div>