<div class="container">
    <p>
        {% block block1 %}
            Unchanged block 1 from template6-base.html.twig.
        {% endblock %}
    </p>
    <p>
        {% block block2 %}
            Unchanged block 2 from template6-base.html.twig.
        {% endblock %}
    </p>
</div>